<section id="galerias-header-section" class="header-section">
  <h1>Todas as suas galerias</h1>
  <p> Selecione uma e recorde suas datas comemorativas </p>
</section>
<section class="galerias-section">
  <ul class="galerias-list">
    <% @galeria.each do |galerium| %>
      <li class="galeria-item">
        <div class="galeria-card">
          <h2 class="galeria-title"><%= link_to galerium.title, galerium %></h2>
          <p class="galeria-description"><%= galerium.description %></p>
          <p class="galeria-data-comemorativa"><%= galerium.data_comemorativa.strftime("%d/%m/%Y") %></p> 
        </div>
      </li>
    <% end %>
      <li class="galeria-item">
          <%= link_to "Criar nova galeria", new_galerium_path, class: "galeria-create-card" %></>
      </li>
  </ul>
</section>

