<section id="<%= dom_id @galerium %>-header-section" class="header-section">
  <h1>Criando nova galeria</h1>
  <span class="voltar"><%= link_to "<- Voltar", @galerium %></span>
  </div>
</section>
<%= render "form", galerium: @galerium %>